form
{
    width: 60%;
    margin: 0 auto;
}


#formDiv
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}


.form-group
{
	background-color: rgba(23, 179, 178, 0.20);
	color: #444;

	border-style: solid;
 	border-width: 0px 0px 0px 6px;
	border-color: rgba(23, 179, 178, 1);
	padding: 15px;
	flex: 1 1 30%;
	margin: 5px;
}

#form .form-group
{
	background-color: rgba(0, 80, 200, 0.2);
	border-color: rgb(0, 80, 200);
}

#search .form-group
{
	background-color: rgba(230, 92, 0, 0.20);
	border-color: rgb(230, 92, 0);
}

.objectDisplay
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 1 1 55%;
}

.arrayDisplay
{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1 1 88%;
}

.smallArrayDisplay
{
	flex: 100 1 44%;
}

.width-4
{
	flex: 1 1 88%;
	height: 120px;
}

div.titlebar
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

input:-moz-read-only { /* For Firefox */
  background-color: #EEE;
}

input:read-only {
  background-color: #EEE;
}

textarea:-moz-read-only { /* For Firefox */
  background-color: #EEE;
}

textarea:read-only {
  background-color: #EEE;
}
/*
.tagDiv
{
	background-color: white;
	height: 36px;
	width: calc(100% - 10px) !important;
	overflow: scroll;
	position: relative;
}
*/

.choices
{
	border-radius: 2px;
	padding-right: 10px;
}

.choices__item
{
	border-radius: 2px !important;
	background-color: #DDD !important;
	border: 1px solid #BBB !important;
	color: black !important;
	margin-bottom: 1.5px !important;
}

.choices__inner
{
	border: 0px !important;
	border-radius: 2px !important;
	min-height: 20px !important;
	padding: 5px !important;
	padding-bottom: 0px !important;
}

.form-control
{
	border: 4px solid white;
	border-radius: 2px;
	overflow: scroll;
	width: 100%;
	height: 36px;
}


input[type="submit"]
{
	display: block;
	margin: 0 auto;
	margin-top: 20px;

	background-color: #FFF;
	cursor: pointer;
	padding: 6px;
	border-radius: 8px;
	width: 30%;
}

input[type="submit"]:hover
{
	background-color: #EEE;
}

textarea.form-control
{
	resize: none;
	font-size: 1.5em;
	line-height: 95%;
	margin:0;
	vertical-align:bottom;
	overflow: visible;
	height: 70% !important;
}

#resultsList
{
	width: 50%;
	margin: 0 auto;
}

.elemResult
{

	display: block;

	background-color: rgba(23, 179, 178, 0.20);
	color: #444;

	border-style: solid;
 	border-width: 0px 0px 0px 6px;
	border-color: rgba(23, 179, 178, 1);
	padding: 15px;

	margin-bottom: 20px;

	transition: background-color 0.3s ease;
}

.elemResult:hover, .elemResult.currentResult
{
	background-color: rgba(23, 179, 178, 0.40);
}

.set_choices{
	position: relative;
	border-bottom: 1px dotted black;
	float: right;
	margin-right: 10px;
}

.tooltip {
  position: relative;
	border-bottom: 1px dotted black;
	float: right;
}

.tooltipdiv {
	visibility: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	padding: 12px;
	min-width: 200px;
	width: 16.8%;
	min-height: 100px !important;
	height:400px;
  background-color: #333;
	color: #EEE;
	text-align: left;
	border-radius: 6px;
	border-style: outset;
  position: fixed;
  z-index: 1;
  top: 16%;
  right: 1%;
	margin-left: -200px;
	font-size: 1.3em;
	font-weight: bold;
}

.tooltipdiv .tooltiptext {
	background-color: #333;
	color: #EEE;
	text-align: left;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 82%;
	font-size: 1.3em;
	border: none;	

}

.tooltipdiv .tooltiptext:not([disabled]) {
	background-color: #555;
}


/*
.tooltip:hover .tooltipdiv {
	opacity: 1;
  visibility: visible;
}

.tooltipdiv:hover .tooltipdiv {
	opacity: 1;
  visibility: visible;
}
*/

.tooltipbtn.tooltipmod {
	width: 100%;
}

.tooltipbtn.tooltipvalidate {
	display: none;
	width: 48%;
}

.tooltipbtn.tooltipcancel {
	width: 48%;
	display: none;
	float: right;
}

span.helpid {
	display:none;
}