@import "form.css";

body
{
  background: #EEE;
	color: #232323;
	font-family: "Avenir Next", "Avenir", sans-serif;
	font-family: 'Source Sans Pro', sans-serif;

	padding: 0px;
	margin: 0px;

	height: 100%;
	width: 100%;

}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span, p
{
	font-size: 1.15em;
}

#indexLogo
{
	display: block;
	margin: 0 auto;

	margin-top: 10%;
	width: 40%;
	height: auto;
}


nav
{
	position: fixed;
	top: 0px;
	width: 40px;
	height: 100%;
	display: block;
	padding: 20px;
	background: #232323;
	transition: width 0.3s ease;
	font-size: 0.9em;

	border-right: 6px solid rgb(243,200,17);
}

.menuTransitions
{
	transition: width 0.3s ease, margin-left 0.3s ease,opacity 0.2s ease;
}

#menuFirst
{
	margin-bottom: 36px;
	cursor: pointer;
}


.menuContainer img
{
	display: block;
	margin-left: 2px;
	margin-bottom: 4px;
	
    width: 36px;
    height: 36px;

    filter: invert(100%);
    transition: all 0.2s;
    float: left;

    z-index: 1;
    
}


.menuContainer img:hover
{
	width: 40px;
	height: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.menuContainer
{
	overflow: auto;
	display: block;
	margin-bottom: 36px;
}

.menuContainer p
{
	display: none;
	opacity: 0;
	float: left;
	margin: 8px;
	margin-left: 14px;
	color: #EEE;
	font-weight:bold;
}

#pageBLock
{
	padding: 0px;
	top: 0px;
	overflow: auto;
	margin-left: 80px;
	height: 100%;
	width: calc(100% - attr(margin-left));
}

#contentBlock
{
	padding:25px;
}

h1
{
	
	font-size: 3em;
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

h2.subtitle
{
	
	font-size: 1.75em;
	margin: auto;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	font-weight: normal;
}