extends base.pug
				
block page-body
	div#resultsList
		each project in openedProjects
			+displayRow(project)
				


mixin displayRow(project)
	if base_route == project.route
		a.elemResult.currentResult(href=project.route+"/form")
			span.name=project.name
	else
		a.elemResult(href=project.route+"/form")
			span.name=project.name